/* GLOBAL STYLES */
body {
    font-family: 'Roboto', sans-serif;
}
#page-content {
    margin: 0 5% 0;
    text-align: center;
}
.body {
    background-color: #fff;
}

/* ************************************************************* */

/* Buttons */
.btn-primary {
    margin-left: 0;
    background-color: #1f4c85;
    border: 0;
}
.btn-primary:hover {
    background-color: #18375f;
}
.btn-block {
    font-size: 1.2rem;
    width: 60%;
}
/* Buttons */

/* ************************************************************* */

/* Icons */
.icon {
    color: #1f4c85;
}
.icon-small {
    font-size: 1.4rem;
}
/* Icons */

/* ************************************************************* */

/* Alignment and Layout */
.mid-centered {
    align-items: center;
    display: flex;
    text-align: center;
}
.left-centered {
    text-align: left;
}
.image {
    height: auto;
    object-fit: cover;
    max-width: 100%;
}
/* Alignment and Layout */

/* GLOBAL STYLES */

/* ************************************************************* */
/* ************************************************************* */
/* ************************************************************* */
/* SPECIFIC SECTIONS */
/* ************************************************************* */
/* ************************************************************* */
/* ************************************************************* */

/* Navigation Bar */
.navbar {
    font-weight: 500;
    padding: 1% 5%;
    position: relative;
    transition: .5s;
    z-index: 3;
    font-size: 1.3rem;
}
.navbar:hover {
    background-color:rgba(255, 255, 255, 0.116);
    color: #000;
}
.navbar-brand {
    font-weight:900;
    font-size: 1.8rem;
}
/* Navigation Bar */

/* ************************************************************* */

/* Login Form */
#container-login {
    background-color: #fff;
    border-radius: 0.3rem;
    position: relative;
    text-align: center;
    margin: 4% 0;
    z-index: 2;
}
.login-image {
    height: 100%;
    border-radius: 0.3rem;
}
.login-text-col {
    margin: auto;
    padding: 65px;
    width:100%
}
.header {
    margin-bottom: 50px;
}
.main-heading {
    color: #1f4c85;
    font-weight: bold;
    font-size: 3.5rem;
}
.sub-heading {
    color: rgb(145, 145, 145);
}
.text-box {
    margin-bottom: 30px;
}
.login-input {
    font-size: .3rem;
}
.form-control {
    font-size: .2rem;
}
.form-control:focus {
    box-shadow: none;
}
.submit-links {
    align-items: center;
    display: flex;
    padding-left: 15px;
}
.login-link {
    text-align: right;
    text-decoration: underline;
    width: 75%;
    color: rgb(145, 145, 145);
}
.login-btn {
    margin: 0;
    padding: 0;
}
.forgot-pass {
    text-align: right;
}
/* Login Form */

/* ************************************************************* */
/* ************************************************************* */
/* MEDIA CONTROLS */
/* ************************************************************* */
/* ************************************************************* */

@media (max-width: 1125px) {
    #landing {
        margin-top: 25px;
    }
    .heading {
        font-size: 3.7rem;
    }
}

@media (max-width: 775px) { /* Best here is 991 but Angela had 1028 */
    #page-content {
        text-align: center;
    }
    #landing {
        margin-bottom: 150px;
        margin-top: 25px;
    }
    #container-login {
        text-align: center;
    }
    .heading {
        font-size: 3.5rem;
    }
    .bg-image {
        width: 100%;
    }
    .btn-block {
        width: 100%;
    }
    .login-text-col {
	text-align: center;
    }
    .login-btn {
        margin-bottom: 20px;
    }
    .forgot-pass {
        text-align: center;
    }
}