/* GLOBAL STYLES */
body {
    font-family: 'Roboto', sans-serif;
}
#page-content {
    margin: 2% 5% 0;
    text-align: center;
}

/* Buttons */
.btn-primary {
    background-color: #1f4c85;
    border: 0;
    margin-left: 0;
}
.btn-primary:hover {
    background-color: #18375f;
}
.btn-block {
    font-size: 1.2rem;
    width: 20%;
}
/* Buttons */

/* ************************************************************* */

/* Icons */
.icon {
    color: #1f4c85;
}
/* Icons */

/* GLOBAL STYLES */

/* ************************************************************* */
/* ************************************************************* */
/* ************************************************************* */
/* SPECIFIC SECTIONS */
/* ************************************************************* */
/* ************************************************************* */
/* ************************************************************* */

/* Navigation Bar */
.navbar {
    font-weight: 500;
    padding: 1% 5%;
    position: relative;
    transition: .5s;
    z-index: 3;
    font-size: 1.3rem;
}
.navbar:hover {
    background-color:rgba(255, 255, 255, 0.116);
    color: #000;
}
.navbar-brand {
    font-weight:900;
    font-size: 1.8rem;
}
/* Navigation Bar */

/* ************************************************************* */
/* ************************************************************* */

/* Landing Page */
.bg-image {
    filter: brightness(75%);    
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#landing {
    align-items: center;
    margin: 100px 0 200px;
    position: relative;
    text-align: left;
    width: 80%;
    z-index: 3;
}
.heading {
    color:#fff;
    font-size: 4rem;
}
.sub-text {
    font-size: 1.7rem;
    color: rgb(201, 201, 201);
}
/* Landing Page */

/* ************************************************************* */
/* ************************************************************* */

@media (max-width: 1125px) {
    #landing {
        margin-top: 25px;
    }
    .heading {
        font-size: 3.7rem;
    }
}

@media (max-width: 775px) { /* Best here is 991 but Angela had 1028 */
    #page-content {
        text-align: center;
    }
    #landing {
        margin-bottom: 150px;
        margin-top: 25px;
        text-align: center;
    }
    .heading {
        font-size: 3.2rem;
    }
    .sub-text {
        font-size: 1.1rem;
    }
    .bg-image {
        width: 100%;
    }
    .btn-block {
        width: 100%;
    }
}